Repository RobertTheDev/healthkickblog: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,css,md,mjs,mts,yml,yaml}": ["prettier --write"]
}

refactor: reorganized the main app pages into a seperate app directory
  src/app/(app)/(home)/components/HeroSection/featuredRecipes.ts
  src/app/(app)/(home)/components/HeroSection/index.tsx
  src/app/(app)/(home)/components/RecipeCategorySection/index.tsx
  src/app/(app)/(home)/page.tsx
  src/app/(app)/categories/[slug]/components/RecipeCard/index.tsx
  src/app/(app)/categories/[slug]/page.tsx
  src/app/(app)/layout.tsx
  src/app/(app)/profile/components/CancelSubscriptionForm/index.tsx
  src/app/(app)/profile/components/CloseAccountForm/index.tsx
  src/app/(app)/profile/components/UpdateNameForm/index.tsx
  src/app/(app)/profile/components/UpdatePasswordForm/index.tsx
  src/app/(app)/profile/components/VerifyEmailForm/index.tsx
  src/app/(app)/profile/page.tsx
  src/app/(app)/recipes/[slug]/page.tsx
  src/app/(app)/subscribe/components/SubscriptionPlanCard/index.tsx
  src/app/(app)/subscribe/interfaces/SubscriptionPlan.ts
  src/app/(app)/subscribe/lib/subscriptionPlans.ts
  src/app/(app)/subscribe/page.tsx
  src/app/layout.tsx
Due: prettier --write, eslint --fix

chore: deleted redundant images in public folder
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
Due: none

feat: added check circle icons
  src/app/(app)/subscribe/components/SubscriptionPlanCard/index.tsx
Due: prettier --write, eslint --fix

feat: added logo to sign in page
  src/app/(auth)/sign-in/layout.tsx
Due: prettier --write, eslint --fix

feat: added new content to the profile page and form components
  src/app/(app)/profile/components/CancelSubscriptionForm/index.tsx
  src/app/(app)/profile/components/CloseAccountForm/index.tsx
  src/app/(app)/profile/components/UpdateNameForm/index.tsx
  src/app/(app)/profile/components/UpdateNameForm/updateName.schema.ts
  src/app/(app)/profile/components/UpdatePasswordForm/index.tsx
  src/app/(app)/profile/components/UpdatePasswordForm/updatePassword.schema.ts
  src/app/(app)/profile/components/VerifyEmailForm/index.tsx
  src/app/(app)/profile/page.tsx
Due: prettier --write, eslint --fix

refactor: updated seo title to healthkick
  src/app/layout.tsx
Due: prettier --write, eslint --fix

chore: installed supabase
  package-lock.json
  package.json
Due: prettier --write

feat: set up authentication handling
  middleware.ts
  src/app/(app)/profile/components/SignOutForm/index.tsx
  src/app/(app)/profile/page.tsx
  src/app/(auth)/auth/confirm/route.ts
  src/app/(auth)/forgot-password/components/ForgotPasswordForm/forgotPassword.schema.ts
  src/app/(auth)/forgot-password/components/ForgotPasswordForm/index.tsx
  src/app/(auth)/forgot-password/page.tsx
  src/app/(auth)/layout.tsx
  src/app/(auth)/reset-password/components/ResetPasswordForm/index.tsx
  src/app/(auth)/reset-password/components/ResetPasswordForm/resetPassword.schema.ts
  src/app/(auth)/reset-password/page.tsx
  src/app/(auth)/sign-in/components/AuthForm/index.tsx
  src/app/(auth)/sign-in/components/ForgotPasswordForm/index.tsx
  src/app/(auth)/sign-in/components/SignInForm/index.tsx
  src/app/(auth)/sign-in/components/SignUpForm/index.tsx
  src/app/(auth)/sign-up/components/SignUpForm/index.tsx
  src/app/(auth)/sign-up/components/SignUpForm/signUp.schema.ts
  src/app/(auth)/sign-up/page.tsx
  src/app/error/page.tsx
  src/app/layout/Header/index.tsx
  src/app/utils/supabase/client.ts
  src/app/utils/supabase/middleware.ts
  src/app/utils/supabase/server.ts
Due: prettier --write, eslint --fix

feat: added sign in image
  src/app/not-found.tsx
Due: prettier --write, eslint --fix

chore: installed stripe
  package-lock.json
  package.json
Due: prettier --write

feat: set up payment functionality
  src/app/(app)/subscribe/[priceId]/page.tsx
  src/app/(app)/subscribe/checkout-return/route.ts
  src/app/(app)/subscribe/components/CheckoutForm/index.tsx
  src/app/(app)/subscribe/components/SubscriptionPlanCard/index.tsx
  src/app/(app)/subscribe/interfaces/SubscriptionPlan.ts
  src/app/(app)/subscribe/lib/subscriptionPlans.ts
  src/app/(app)/subscribe/lib/validPriceIds.ts
  src/app/(app)/subscribe/server-actions/stripe-session.tsx
  src/app/(app)/subscribe/success/page.tsx
Due: prettier --write, eslint --fix

chore: installed contentful
  package-lock.json
  package.json
Due: prettier --write

chore: set up contentful client
  src/app/utils/contentful/contentfulClient.ts
Due: prettier --write, eslint --fix

feat: mapped the contentful data
  src/app/(app)/categories/[slug]/page.tsx
  src/app/(app)/recipes/[slug]/page.tsx
Due: prettier --write, eslint --fix

feat: added stripe active plan functionality
  src/app/(app)/subscribe/checkout-return/route.ts
  src/app/(app)/subscribe/components/CheckoutForm/index.tsx
  src/app/(app)/subscribe/server-actions/stripe-session.tsx
  src/app/(auth)/sign-up/components/SignUpForm/index.tsx
Due: prettier --write, eslint --fix

feat: added banner image
  public/banner.jpg
Due: none

chore: added variable checking to supbase and contentful
  src/app/utils/contentful/contentfulClient.ts
  src/app/utils/supabase/client.ts
  src/app/utils/supabase/server.ts
Due: prettier --write, eslint --fix

refactor: updated styling to layout
  src/app/(app)/(home)/components/HeroSection/index.tsx
  src/app/(app)/(home)/components/RecipeCategorySection/index.tsx
  src/app/(app)/layout.tsx
  src/app/(app)/profile/page.tsx
  src/app/data/categories.ts
  src/app/error/page.tsx
  src/app/layout.tsx
  src/app/layout/Footer/index.tsx
  src/app/layout/Header/index.tsx
  src/app/layout/SubscribeBanner/index.tsx
Due: prettier --write, eslint --fix
